<form class="container" novalidate>

  <ul class="nav">
    <mat-card class="center">
      <!-- num tarjeta -->
      <li>
        <mat-form-field appearance="outline" class="tamanoLimite">
          <mat-label>Número de tarjeta</mat-label>
          <input name="numero" disabled matInput [(ngModel)]="hola">
        </mat-form-field>
      </li>
      <!-- cod seg -->
      <li>
        <mat-form-field appearance="outline" class="tamanoLimite">
          <mat-label>Código de seguridad</mat-label>
          <input name="codigo" disabled matInput [(ngModel)]="hola">
        </mat-form-field>
      </li>
      <br>
      <!-- fechas -->
      <li>
        <mat-form-field appearance="outline" class="tamanoLimite">
          <mat-label>Válido desde</mat-label>
          <input name="valido_desde" disabled matInput [matDatepicker]="picker1" [(ngModel)]="hola">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field appearance="outline" class="tamanoLimite">
          <mat-label>Válido hasta</mat-label>
          <input name="valido_hasta" disabled matInput [matDatepicker]="picker2" [(ngModel)]="hola">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
      </li>
      <br>
      <!-- dia de cierre -->
      <li>
        <mat-form-field appearance="outline" class="tamanoLimite">
          <mat-label>Día de cierre</mat-label>
          <input name="dia_cierre" disabled matInput [(ngModel)]="hola">
        </mat-form-field>
      </li>
      <!-- categoria -->
      <li>
        <mat-form-field appearance="outline" class="tamanoLimite">
          <mat-label>Categoría</mat-label>
          <input name="categoria" disabled matInput [(ngModel)]="hola">
        </mat-form-field>
      </li>
      <!-- monto lim -->
      <li>
        <mat-form-field appearance="outline" class="tamanoLimite">
          <mat-label>Monto límite</mat-label>
          <input name="monto_limite" disabled matInput [(ngModel)]="hola">
        </mat-form-field>
      </li>
      <!-- cliente -->
      <br>
      <li>
        <mat-form-field appearance="outline">
          <mat-label>Cliente</mat-label>
          <input name="cliente" disabled type="number" matInput [(ngModel)]="hola">
        </mat-form-field>
      </li>

    </mat-card>
  </ul>

  <button mat-fab color="primary" [disabled]="false" style="position:right">
    <mat-icon>arrow_back</mat-icon>
  </button>

</form>
