<form novalidate [formGroup]="formGroup" (onSubmit)="formGroup.valid && create()">
  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Cantidad de cuotas" formControlName="cantCuotas" (selectionChange)="changeCantCuotas()">
        <mat-option *ngFor="let cuota of [1, 3, 6, 9, 12, 18, 24]" [value]="cuota">
          {{cuota===1?'Un pago':cuota + ' Cuotas'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="formGroup.value.cantCuotas > 1">
      <mat-form-field style="width: 31%">
        <mat-label>Monto cuota ($)</mat-label>
        <input formControlName="montoCuota" (change)="changeCouta()" type="number" matInput placeholder="Monto cuota ($)">
      </mat-form-field>
      <mat-form-field style="width: 31%">
        <mat-label>Interés (%)</mat-label>
        <input formControlName="interes" (change)="changeCouta()" type="number" matInput placeholder="Interés">
      </mat-form-field>
      <mat-form-field style="width: 31%">
        <mat-label>Monto Total ($)</mat-label>
        <input name="montoTotal" disabled matInput value="{{(formGroup.value.cantCuotas * formGroup.value.montoCuota) * (formGroup.value.interes + 100)/100}}">
      </mat-form-field>
    </div>
    <mat-form-field *ngIf="formGroup.value.cantCuotas === 1">
      <mat-label>Monto ($)</mat-label>
      <input formControlName="montoTotal" type="number" matInput placeholder="Monto ($)">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input formControlName="descripcion" type="text" matInput placeholder="Descripción">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="idEstablecimiento" type="text" placeholder="Establecimiento" matInput [matAutocomplete]="auto3" (keyup)="filterEstablecimientos(searchEstablecimientos)"
        [(ngModel)]="searchEstablecimientos">
      <mat-autocomplete #auto3="matAutocomplete">
        <mat-option *ngFor="let establecimiento of establecimientosFiltered" [value]="establecimiento.id">
          {{establecimiento.razonSocial}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="clienteId" type="text" placeholder="Cliente" matInput [matAutocomplete]="auto" (keyup)="filterClientes(searchClientes)"
        [(ngModel)]="searchClientes">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onClienteSelected($event)">
        <mat-option *ngFor="let cliente of clientesFiltered" [value]="cliente.id">
          {{cliente.nombre}} {{cliente.apellido}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field *ngIf="tarjetas.length">
      <input formControlName="tarjetaId" type="text" placeholder="Tarjeta" matInput [matAutocomplete]="auto2" (keyup)="filterTarjetas(searchTarjetas)"
        [(ngModel)]="searchTarjetas">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let tarjeta of tarjetasFiltered" [value]="tarjeta.id">
          {{tarjeta.nroTarjeta}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field style="width: 68%">
      <input formControlName="fecha" type="text" matInput [matDatepicker]="picker" placeholder="Fecha del consumo">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 28%">
      <mat-label>Código de seguridad</mat-label>
      <input formControlName="codigoSeguridad" type="number" matInput placeholder="Cód. seguridad">
    </mat-form-field>
  </mat-card>
  <button mat-fab color="primary" [disabled]="false" (click)="create()">
    <mat-icon>check</mat-icon>
  </button>
</form>
