<form novalidate [formGroup]="formGroup" (onSubmit)="formGroup.valid">
  <mat-card>
    <mat-form-field>
      <mat-label>Monto ($)</mat-label>
      <input formControlName="monto" type="number" matInput placeholder="Monto ($)">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input formControlName="cliente" type="text" placeholder="Cliente" matInput [matAutocomplete]="auto" (keyup)="filter(search)"
        [(ngModel)]="search">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let cliente of clientesFiltered" [value]="cliente.documento || cliente.id">
          {{cliente.nombre}} {{cliente.apellido}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>
  <button mat-fab color="primary" [disabled]="false">
    <mat-icon>check</mat-icon>
  </button>
</form>
