<div class="card indigo lighten-2 text-center z-depth-2 animated bounce infinite" style="margin:20px 100px">
    <div class="card-body ">
        <p class="white-text mb-0 ">¡NUMERO UNO EN SUDAMERICA!</p>
    </div>
</div>
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'" [interval]="3000">
    <!--First slide-->

    <!--/Second slide-->
    <!--Third slide-->
    <mdb-carousel-item style="height:500px">
        <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/img/credito.jpeg" alt="First slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item style="height:500px">
        <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/img/cybermonday.png" alt="Second slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h1 class="h3-responsive">Aprovecha las PROMOS</h1>
            <h4>Hasta 12 cuotas sin interes en pesos</h4>
            <p>Bases y condiciones en la web</p>
        </div>
    </mdb-carousel-item>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-carousel-item style="height:500px">
        <div class="view w-100">
            <img class="d-block w-100" src="../../../assets/img/abuelo.jpeg" alt="Third slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h2 class="h3-responsive">Descuentos especiales para jubilados</h2>
            <p>Locales adheridos en la web</p>
        </div>
    </mdb-carousel-item>
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->