<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<div id="background-wrap" style="background-color:rgb(172, 219, 238)">
    <div class="main-content">
        <h1>EntiCred</h1>
        <span class="bounced-word anim_1">¡Los créditos más fáciles!</span>
    </div>

    <div class="x1">
        <div class="cloud"></div>
    </div>

    <div class="x2">
        <div class="cloud"></div>
    </div>

    <div class="x3">
        <div class="cloud"></div>
    </div>

    <div class="x4">
        <div class="cloud"></div>
    </div>

    <div class="x5">
        <div class="cloud"></div>
    </div>
</div>