<form novalidate [formGroup]="formGroup" (onSubmit)="formGroup.valid && crear()">
  <mat-card>

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input formControlName="nombre" type="text" matInput placeholder="Nombre">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input formControlName="apellido" type="text" matInput placeholder="Apellido">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CBU</mat-label>
      <input formControlName="cbu" type="number" matInput placeholder="CBU">
      <mat-error *ngIf="!formGroup.get('cbu').pristine && formGroup.get('cbu').errors && formGroup.get('cbu').errors.min">
      El CBU debe tener al menos 10 dígitos.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo de documento</mat-label>
      <mat-select [(value)]="selected" formControlName="tipoDocumento" type="text">
        <mat-option value="DNI">DNI</mat-option>
        <mat-option value="CI">CI</mat-option>
        <mat-option value="LE">LE</mat-option>
        <mat-option value="LC">LC</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="selected">
      <mat-label>Numero de {{selected}}</mat-label>
      <input formControlName="nroDocumento" type="number" matInput placeholder="38200600">
      <mat-error *ngIf="!formGroup.get('nroDocumento').pristine && formGroup.get('nroDocumento').errors && (formGroup.get('nroDocumento').errors.min || formGroup.get('nroDocumento').errors.max)">
        El documento debe tener entre 6 y 8 dígitos.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input formControlName="fechaNacimiento" type="text" matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      <mat-error *ngIf="!formGroup.get('fechaNacimiento').pristine && formGroup.get('fechaNacimiento').errors && formGroup.get('fechaNacimiento').errors.validDate">
      Los clientes deben ser mayores de 18 años.</mat-error>

    </mat-form-field>
  </mat-card>
  <button mat-fab color="primary" [disabled]="false" (click)="crear()">
    <mat-icon>check</mat-icon>
  </button>
</form>
