<form class="container" novalidate [formGroup]="formGroup" (onSubmit)="formGroup.valid && create()">

  <mat-card class="center">
    <mat-form-field appearance="outline" style="width: 68%">
      <mat-label>Número de tarjeta</mat-label>
      <input formControlName="nroTarjeta" type="number" matInput placeholder="Número de tarjeta">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 28%">
      <mat-label>Código de seguridad</mat-label>
      <input formControlName="codigoSeguridad" type="number" matInput placeholder="Cód. seguridad">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" style="width: 48%">
      <input formControlName="fechaValidaDesde" type="text" matInput [matDatepicker]="picker" placeholder="Válida desde">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 48%">
      <input formControlName="fechaValidaHasta" type="text" matInput [matDatepicker]="picker2" placeholder="Válida hasta">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 startView="year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 48%">
      <mat-label>Día de cierre</mat-label>
      <input formControlName="diaCierre" type="number" matInput placeholder="Día de cierre">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 48%">
      <mat-label>Categoría</mat-label>
      <input formControlName="categoria" type="text" matInput placeholder="Categoría">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Monto límite</mat-label>
      <input formControlName="montoLimite" type="number" matInput placeholder="Monto límite">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <input formControlName="idCliente" type="text" placeholder="Cliente" matInput [matAutocomplete]="auto" (keyup)="filter(search)"
        [(ngModel)]="search">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let cliente of clientesFiltered" [value]="cliente.id">
          {{cliente.nombre}} {{cliente.apellido}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-checkbox class="mat-form-field" formControlName="pagoMinimo">Pago mínimo</mat-checkbox>

  </mat-card>

  <button mat-fab color="primary" [disabled]="false" style="position:right" (click)="create()">
    <mat-icon>check</mat-icon>
  </button>

</form>
