<form class="container">

  <ul class="nav">
    <mat-card class="center">
      <li>
        <mat-form-field appearance="outline">
          <mat-label>Número de tarjeta</mat-label>
          <input formControlName="numero" type="number" matInput placeholder="1111222233334444">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field color="accent">
          <mat-label>Válido desde</mat-label>
          <input formControlName="valido_desde" type="number" matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Válido hasta</mat-label>
          <input formControlName="valido_hasta" type="number" matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Código de seguridad</mat-label>
          <input formControlName="cod_seguridad" type="number" matInput placeholder="123">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Día de cierre</mat-label>
          <input formControlName="fecha_cierre" type="number" matInput placeholder="16">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Categoría</mat-label>
          <input formControlName="categoria" type="text" matInput placeholder="Categoría">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Monto límite</mat-label>
          <input formControlName="monto_limite" type="number" matInput placeholder="50000">
        </mat-form-field>
      </li>
    </mat-card>
  </ul>
</form>
