<!-- Muestra de liquidaciones -->
<mat-card *ngIf="liquidaciones.length">
  <mat-card-title>Liquidaciones</mat-card-title>
  <mat-accordion *ngFor="let liquidacion of liquidacionesFiltered">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a matLine>
            <b>Cierre:</b>
            {{liquidacion.fechaCierre | date:'dd-MM-yyyy'}}
          </a>
        </mat-panel-title>
        <mat-panel-description>
          <a style="width: -webkit-fill-available">
            <b>Vencimiento:</b> {{liquidacion.fechaVencimiento | date:'dd-MM-yyyy'}}</a>
          <a>
            <b>Estado:</b>
            {{liquidacion.pagada? 'Pagada':'Pendiente'}}
          </a>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table style="text-align:justify;width: 100%">
        <tr>
          <th>Fecha</th>
          <th>Establecimiento</th>
          <th>Descripcion</th>
          <th>Monto Total</th>
        </tr>
        <tr *ngFor="let consumo of liquidacion.consumos">
          <td>{{consumo.fecha | date:'dd-MM-yyyy'}}</td>
          <td>{{consumo.establecimiento}}</td>
          <td>{{consumo.descripcion}}</td>
          <td>{{consumo.monto}}</td>
        </tr>
      </table>
      <br>
      <button *ngIf="!liquidacion.pagada" mat-stroked-button color="primary" style="width:15%;
          text-align:center;margin-left: 40%">
        Pagar
      </button>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="!loading && !liquidaciones.length">
    <div>
      <div style="text-align: center">
        <p>No hay liquidaciones creadas. </p>
      </div>
    </div>
  </div>
</mat-card>
