.mat-fab {
    right: 0px;
    bottom: 0px;
    position: fixed;
    margin: 20px;
  }
  
  .mat-spinner {
    margin: 25% auto;
  }
  .mat-form-field {
    width: 100%;
  }
  
  .nav {
    list-style-type: none;
    width: 80%;
    height: 70%;
  }
  .nav li {
    display: inline-block;
    // font-size: 20px;
    padding: 20px;
  } 