
  .nav {
    list-style-type: none;
    // text-align: center;
    width: 80%;
    height: 70%;
  }
  .nav li {
    display: inline-block;
    // font-size: 20px;
    padding: 20px;
  }
  .mat-fab {
    right: 0px;
    bottom: 0px;
    position: fixed;
    margin: 20px;
  }
  .tamanoLimite{
    width: 200px;
  }