<mat-spinner *ngIf="loading"></mat-spinner>

<mat-vertical-stepper labelPosition="bottom" #stepper *ngIf="liquidaciones">
  <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Filtro por cliente</ng-template>

          <mat-form-field appearance="outline">
            <mat-label>Tipo de documento</mat-label>
            <mat-select [(value)]="selected" formControlName="tipo" type="text">
              <mat-option value="DNI">DNI</mat-option>
              <mat-option value="CI">CI</mat-option>
              <mat-option value="LE">LE</mat-option>
              <mat-option value="LC">LC</mat-option>
            </mat-select>
          </mat-form-field>
        
          <p *ngIf="selected">
            <mat-form-field appearance="outline">
              <mat-label>Numero de {{selected}}</mat-label>
              <input formControlName="numeroDocumento" [(value)]="numeroDocumento" type="number" matInput placeholder="38200600">
            </mat-form-field>
          </p>

          <p *ngIf="selected">
            <mat-form-field appearance="outline">
              <mat-label>Tarjetas</mat-label>
              <mat-select formControlName="tarjeta">
                <mat-option *ngFor="let tarjeta of tarjetas" [(value)]="tarjeta.id">{{tarjeta.id}}</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <div>
              <button mat-button matStepperNext>Siguiente</button>
          </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" optional>
      <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Filtro fecha cierre</ng-template>

          <mat-form-field appearance="outline">
            <mat-label>Mes cierre</mat-label>
            <mat-select [(value)]="mesCierre" formControlName="tipo" type="number">
              <mat-option (keyup)='filtroMesCierre()' *ngFor="let mesCierre of [1,2,3,4,5,6,7,8,9,10,11,12]" value="{{mesCierre}}">{{mesCierre}}</mat-option>
            </mat-select>
          </mat-form-field>

          <p *ngIf="mesCierre">
            <mat-form-field appearance="outline">
              <mat-label>Año cierre</mat-label>
              <input formControlName="anioCierre" type="number" matInput placeholder="1990">
            </mat-form-field>
          </p>

          <div>
              <button mat-button matStepperPrevious>Previo</button>
              <button mat-button matStepperNext>Siguiente</button>
          </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="tercerFormGroup" optional>
    <form [formGroup]="tercerFormGroup">
        <ng-template matStepLabel>Filtro fecha vencimiento</ng-template>

        <mat-form-field appearance="outline">
          <mat-label>Mes vencimiento</mat-label>
          <mat-select [(value)]="mesVencimiento" formControlName="tipo" type="number">
            <mat-option *ngFor="let mesVencimiento of [1,2,3,4,5,6,7,8,9,10,11,12]" value="{{mesVencimiento}}">{{mesVencimiento}}</mat-option>
          </mat-select>
        </mat-form-field>

        <p *ngIf="mesVencimiento">
          <mat-form-field appearance="outline">
            <mat-label>Año vencimiento</mat-label>
            <input formControlName="anioVencimiento" type="number" matInput placeholder="1990">
          </mat-form-field>
        </p>
        
        <div>
            <button mat-button matStepperPrevious>Previo</button>
            <button mat-button matStepperNext>Siguiente</button>
        </div>
    </form>
</mat-step>
  <mat-step>
      <ng-template matStepLabel>Listo</ng-template>
      <div>
          <button mat-button matStepperPrevious>Previo</button>
          <button mat-button (click)="stepper.reset()">Borrar filtros</button>
      </div>
  </mat-step>
</mat-vertical-stepper>
<!-- Muestra de liquidaciones -->

<mat-card>
  <h2>Listado de cobranzas</h2>
  <mat-accordion *ngFor="let liquidacion of liquidaciones">
    <mat-expansion-panel *ngIf="liquidacion.estado" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a matLine>Fecha de cierre de liquidacion: <b>{{liquidacion.fechaCierre}}</b></a>
        </mat-panel-title>
        <mat-panel-description>
          <a>Fecha de vencimiento: {{liquidacion.fechaVencimiento}}</a>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table style="text-align:justify;width: 100%">
        <tr>
          <th>Fecha</th>
          <th>Establecimiento</th>
          <th>Descripcion</th>
          <th>Monto Total</th>
        </tr>
        <tr *ngFor="let consumo of consumos">
          <td>{{consumo.fecha}}</td>
          <td>{{consumo.establecimiento}}</td>
          <td>{{consumo.descripcion}}</td>
          <td>{{consumo.montototal}}</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
