<mat-spinner *ngIf="loading"></mat-spinner>
<mat-nav-list *ngIf="tarjetas">
  <mat-form-field appearance="outline">
    <input (keyup)='searchTarjeta()' type="text" matInput placeholder="Buscar tarjeta" [(ngModel)]="search">
  </mat-form-field>
  <mat-list-item *ngFor="let tarjeta of tarjetasFiltered; let i=index">
    <a matLine [routerLink]="['/tarjetas', tarjeta.id]">{{tarjeta.nroTarjeta}}</a>
    <button mat-icon-button (click)="deleteTarjeta(tarjeta.id)">
      <mat-icon>delete</mat-icon>
    </button>
    <a [routerLink]="['/tarjetas', tarjeta.id]">
      <button mat-icon-button>
        <mat-icon>open_in_new</mat-icon>
      </button>
    </a>
  </mat-list-item>
</mat-nav-list>
<a [routerLink]="['/tarjetas', 'crear']">
  <button mat-fab color="primary" [disabled]="loading">
    <mat-icon>add</mat-icon>
  </button>
</a>
<div *ngIf="!loading && !tarjetas.length && !search.length">
  <div class="no-tarjetas-container">
    <div style="width:100%;height:100%;">
      <p>No hay ninguna tarjeta creada. Desea crear una?</p>
      <br>
      <a [routerLink]="['/tarjetas', 'crear']">
        <button mat-flat-button color="primary">
          Crear tarjeta
        </button>
      </a>
    </div>
  </div>
</div>
